html{
    font-size: 2vw;
}
*{
    margin: 0;
    padding: 0.7rem;
    box-sizing: border-box;
}
body {
    background-image: url("background.png");
    font-family: 'Roboto', sans-serif;
}
img {
    border-radius: 1.5rem;
     float: left;
}
h1 {
    font-weight: bold;
    color: #9400D3;
}
p{
    color: indigo;
} 
.clr{
    clear: both;
}

.links{
    list-style: none;
}
.links li{
    padding: 1rem;
    float: left;
}
.links li a{
    text-decoration: none;
    background-color: lightgray;
    color:#bd2884;
} 
#info {
    float: left;
}
