html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(0deg, rgba(247,83,121,1) 0%, rgba(231,159,209,1) 50%, rgba(247,203,187,1) 100%);
}
.app{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 1rem;
}