.card {
    height: 250px;
    width: 200px;
    background-color: rgb(255, 212, 219);
    text-align: center;
    box-shadow: 3px 3px 5px 2px darkgrey;
}

.card-top img {
    width: 100%;
}

.card-header {
    font-size: 15px;
    font-weight: bold;
}

.card-descrpt {
    font-size: 12px;
}

.card-links {
    font-size: 10px;
}