.hide{
    display: none;
}
.spinner-container{
    background-color: #8080809c;
    width: 100%;
    height: 100vh;
}
.spinner{
    position: relative;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#circle-1{
    background-color: red;
    animation: move1 4s ease-in-out infinite;
}
#circle-2{
    background-color: blue;
    animation: move2 4s ease-in-out infinite;
}
#circle-3{
    background-color: yellow;
    animation: move3 4s ease-in-out infinite;
}
#circle-4{
    background-color: green;
    animation: move4 4s ease-in-out infinite;
}

@keyframes move1{
    0%{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    9%{
        top: 0%;
        left: 100%;
    }
    17%{
        top: 100%;
        left: 100%;
    }
    25%{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
    }
    33%{
        top: 100%;
        left: 100%;
    } 
    42%{
        left: 0%;
        top: 100%;
    }
    50%{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
    }
    58%{
        left: 0%;
        top: 100%;
    }
    67%{
        left: 0%;
        top: 0%;
    }
    75%{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
    }
    83%{
        left: 0%;
        top: 0%;
    }
    92%{
        top:0%;
        left: 100%;
    }
    100%{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
    }
}

@keyframes move2{
    0%{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    9%{
        top: 100%;
        left: 100%;
    }
    17%{
        left: 0%;
        top: 100%;
    }
    25%{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
    }
    33%{
        left: 0%;
        top: 100%;
    } 
    42%{
        left: 0%;
        top: 0%;
    }
    50%{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
    }
    58%{
        left: 0%;
        top: 0%;
    }
    67%{
        top:0%;
        left: 100%;
    }
    75%{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
    }
    83%{
        top: 0%;
        left: 100%;
    }
    92%{
        top: 100%;
        left: 100%;
    }
    100%{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
    }
}

@keyframes move3{
    0%{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    9%{
        left: 0%;
        top: 100%;
    }
    17%{
        left: 0%;
        top: 0%;
    }
    25%{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
    }
    33%{
        left: 0%;
        top: 0%;
    } 
    42%{
        top: 0%;
        left: 100%;
    }
    50%{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
    }
    58%{
        top: 0%;
        left: 100%;
    }
    67%{
        top: 100%;
        left: 100%;
    }
    75%{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
    }
    83%{
        top: 100%;
        left: 100%;
    }
    92%{
        left: 0%;
        top: 100%;
    }
    100%{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
    }
}

@keyframes move4{
    0%{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    9%{
        left: 0%;
        top: 0%;
    }
    17%{
        top: 0%;
        left: 100%;
    }
    25%{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
    }
    33%{
        top: 0%;
        left: 100%;
    } 
    42%{
        top: 100%;
        left: 100%;
    }
    50%{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
    }
    58%{
        top: 100%;
        left: 100%;
    }
    67%{
        left: 0%;
        top: 100%;
    }
    75%{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
    }
    83%{
        left: 0%;
        top: 100%;
    }
    92%{
        left: 0%;
        top: 0%;
    }
    100%{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
    }
}