*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
img{
    height:100%;
    width: 100%;
}
.container{
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.search-container{
    display: flex;
    gap: 5px;
}
.results-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px;

}

.card-container{
    width: 150px;
}

.card-container a{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-around;
}

.error-display{
    color: red;
}

