*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#green{
    background-color: green;
}
#blue{
    background-color: blue;
}
#red{
    background-color: red;
}

.flex-container{
    background-color: gray;
    flex-direction: column;
    justify-content: space-around;
    display: flex;
    height: 100vh;
}
.item{
    width: 20vh;
    height: 20vh;
}