*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.screen{
    background: #a0a0a0;
    height: 100vh;
}
.navbar{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgb(93, 137, 173);
}
.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    list-style: none;
}

.btns li{
    margin: 1rem;
    /* border: 3px solid black; */
}
li a{
    text-decoration: none;
    display: inline-block;
    color: black;
    padding: 1.5rem;
    position: relative;
    /* border: solid 1px black; */
    overflow: hidden;
    /* transition: all 0.5s; */
}
.btns li a::before{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: -5px;
    left:-4px;
    transform: translateX(-100%);
    border-bottom: solid black 3px;
    transition: all 0.5s;
}
.btns li a:hover::before{
    transform: translateX(0);
}

.btns li a::after{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 4px;
    left: 0;
    transform: translateX(100%);
    border-top: solid black 3px;
    transition: all 0.5s;   
}
.btns li a:hover::after{
    transform: translateX(0);
}